In [2]:
import pandas as pd
pd.__version__

'1.0.1'

In [6]:
series = pd.Series(['a', 'b', 'c'])
series

0    a
1    b
2    c
dtype: object

In [8]:
series[2]

'c'

In [16]:
series = pd.Series(['a', 'b', 'c'], index=[3, 2, 3])
series

3    a
2    b
3    c
dtype: object

In [17]:
series.index

Int64Index([3, 2, 3], dtype='int64')

In [18]:
series[2]

'b'

In [19]:
series[3]

3    a
3    c
dtype: object

In [21]:
series[-1]

KeyError: 4

In [25]:
df = pd.DataFrame([
    [100, 230, 90],
    [140, 150, 40],
    [110, 100, 50]
])
df

     0    1   2
0  100  230  90
1  140  150  40
2  110  100  50

In [27]:
df[1]

0    230
1    150
2    100
Name: 1, dtype: int64

In [28]:
df.loc[1]

0    140
1    150
2     40
Name: 1, dtype: int64

In [30]:
df[3] = [200, 210, 220]
df

     0    1   2    3
0  100  230  90  200
1  140  150  40  210
2  110  100  50  220

In [33]:
df = pd.read_excel('data/score.xlsx')
print(df.shape)
df.head()

(3, 4)

   이름   국어  수학  영어
0  철수  100  70  80
1  영희   90  94  90
2  잡스   80  96  85

In [35]:
df = df.set_index('이름')
df

     국어  수학  영어
이름
철수  100  70  80
영희   90  94  90
잡스   80  96  85

In [37]:
df.loc['영희']

국어    90
수학    94
영어    90
Name: 영희, dtype: int64

In [39]:
df['수학']

이름
철수    70
영희    94
잡스    96
Name: 수학, dtype: int64

In [44]:
df['평균'] = (df['국어'] + df['수학'] + df['영어']) // 3
df

     국어  수학  영어  평균
이름
철수  100  70  80  83
영희   90  94  90  91
잡스   80  96  85  87

In [46]:
df.to_excel('data/score_result.xlsx')

In [48]:
pd.read_excel('data/score_result.xlsx')

   이름   국어  수학  영어  평균
0  철수  100  70  80  83
1  영희   90  94  90  91
2  잡스   80  96  85  87