In [4]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/allieus/5ce98166166d06ee9060e6a261e812dc/raw', index_col='종목명')
print(df.shape)
df.head()

(1231, 1)

            종목코드
종목명
제일홀딩스       3380
하나금융9호스팩  261200
교보7호스팩    267320
보라티알      250000
한화수성스팩    265920

In [7]:
df.loc['보라티알']

종목코드    250000
Name: 보라티알, dtype: int64

In [13]:
df_list = pd.read_html('https://astro.kasi.re.kr/like/pageView/5', encoding='UTF-8')

In [14]:
len(df_list)

1

In [15]:
df = df_list[0]

In [20]:
print(df.shape)
df.head()

(31, 3)

               양력          음력                     음력간지
0  2020-05-01 (금)  2020-04-09  경자(庚子)년 신사(辛巳)월 갑진(甲辰)일
1  2020-05-02 (토)  2020-04-10  경자(庚子)년 신사(辛巳)월 을사(乙巳)일
2  2020-05-03 (일)  2020-04-11  경자(庚子)년 신사(辛巳)월 병오(丙午)일
3  2020-05-04 (월)  2020-04-12  경자(庚子)년 신사(辛巳)월 정미(丁未)일
4  2020-05-05 (화)  2020-04-13  경자(庚子)년 신사(辛巳)월 무신(戊申)일

In [22]:
import pandas_datareader as pdr

pdr.get_data_yahoo('035420.KS', '2018-01-01')

                High       Low      Open     Close    Volume      Adj Close
Date
2018-01-03  176800.0  172800.0  175200.0  174200.0  423950.0  173740.343750
2018-01-04  179400.0  174600.0  175800.0  178600.0  650560.0  178128.734375
2018-01-05  183600.0  176000.0  178600.0  181600.0  684055.0  181120.828125
2018-01-08  190600.0  181600.0  183000.0  190000.0  981690.0  189498.656250
2018-01-09  190400.0  186600.0  188800.0  188800.0  390135.0  188301.828125
...              ...       ...       ...       ...       ...            ...
2020-03-09  179500.0  179500.0  179500.0  179500.0       0.0  179500.000000
2020-03-10  176000.0  165000.0  168000.0  172000.0  666532.0  172000.000000
2020-03-11  174000.0  167500.0  172000.0  170000.0  483822.0  170000.000000
2020-03-12  170000.0  170000.0  170000.0  170000.0       0.0  170000.000000
2020-05-29  243000.0  230500.0  240000.0  234000.0  936178.0  234000.000000

[537 rows x 6 columns]