In [3]:
import xlwings as xw

xw.__version__

'0.17.1'

In [9]:
data = [
    ['apple', 'banana', 'berry'],
    [100, 230, 90],
    [140, 150, 40]
]
data

[['apple', 'banana', 'berry'], [100, 230, 90], [140, 150, 40]]

In [5]:
xw.view(data)

In [10]:
import numpy as np

data = np.random.rand(3, 5)
data

array([[0.29019383, 0.13593553, 0.44533672, 0.82983992, 0.7368266 ],
       [0.75924779, 0.18462656, 0.80004996, 0.77679486, 0.50398524],
       [0.38016022, 0.58461443, 0.52376425, 0.63627975, 0.59912802]])

In [11]:
xw.view(data)

In [14]:
xw.sheets.active

In [17]:
xw.view(data, xw.sheets.active)

In [21]:
import pandas as pd

url = 'https://finance.naver.com/marketindex/exchangeList.nhn'
df_list = pd.read_html(url)
len(df_list)

1

In [23]:
df = df_list[0]
print(df.shape)
df.head()

(44, 7)

             통화명    매매기준율       현찰                송금           미화환산율
             통화명    매매기준율     사실 때     파실 때    보내실 때    받으실 때  미화환산율
0         미국 USD  1237.50  1259.15  1215.85  1249.60  1225.40  1.000
1       유럽연합 EUR  1373.25  1400.57  1345.93  1386.98  1359.52  1.110
2  일본 JPY (100엔)  1154.65  1174.85  1134.45  1165.96  1143.34  0.933
3         중국 CNY   172.62   181.25   163.99   174.34   170.90  0.140
4         홍콩 HKD   159.62   162.76   156.48   161.21   158.03  0.129

In [26]:
df.columns = [
    '통화명',
    '매매기준율',
    '현찰 - 사실 때',
    '현찰 - 파실 때',
    '송금 - 보내실 때',
    '송금 - 받으실 때',
    '미화환상율'
]
df.head()

             통화명    매매기준율  현찰 - 사실 때  현찰 - 파실 때  송금 - 보내실 때  송금 - 받으실 때  미화환상율
0         미국 USD  1237.50    1259.15    1215.85     1249.60     1225.40  1.000
1       유럽연합 EUR  1373.25    1400.57    1345.93     1386.98     1359.52  1.110
2  일본 JPY (100엔)  1154.65    1174.85    1134.45     1165.96     1143.34  0.933
3         중국 CNY   172.62     181.25     163.99      174.34      170.90  0.140
4         홍콩 HKD   159.62     162.76     156.48      161.21      158.03  0.129

In [31]:
df = df.set_index('통화명')

KeyError: "None of ['통화명'] are in the columns"

In [33]:
df.head()

                 매매기준율  현찰 - 사실 때  현찰 - 파실 때  송금 - 보내실 때  송금 - 받으실 때  미화환상율
통화명
미국 USD         1237.50    1259.15    1215.85     1249.60     1225.40  1.000
유럽연합 EUR       1373.25    1400.57    1345.93     1386.98     1359.52  1.110
일본 JPY (100엔)  1154.65    1174.85    1134.45     1165.96     1143.34  0.933
중국 CNY          172.62     181.25     163.99      174.34      170.90  0.140
홍콩 HKD          159.62     162.76     156.48      161.21      158.03  0.129

In [34]:
xw.view(df, xw.sheets.active)

In [39]:
xw.Range('A1:D7').value

[['통화명', '매매기준율', '현찰 - 사실 때', '현찰 - 파실 때'],
 ['미국 USD', 1237.5, 1259.15, 1215.85],
 ['유럽연합 EUR', 1373.25, 1400.57, 1345.93],
 ['일본 JPY (100엔)', 1154.65, 1174.85, 1134.45],
 ['중국 CNY', 172.62, 181.25, 163.99],
 ['홍콩 HKD', 159.62, 162.76, 156.48],
 ['대만 TWD', 41.21, 46.6, 38.33]]

In [41]:
xw.Range('A1').expand('table')

In [43]:
xw.Range('A1').expand('right')

In [45]:
xw.Range('A1').expand('down')