In [1]:
import pandas as pd
import xlwings as xw

In [2]:
%pwd

'd:\\Work\\이러닝\\2020-05\\example'

In [3]:
workbook = xw.Book('data/2016-01.xls')
workbook

In [4]:
workbook.sheets

Sheets([<Sheet [2016-01.xls]Sheet1>])

In [5]:
workbook.sheets[-1]

In [6]:
workbook.sheets.active

In [9]:
sheet = workbook.sheets.active
data = sheet.range('A1').expand().value
len(data)

201

In [13]:
columns = data[0]

In [16]:
df = pd.DataFrame(data[1:], columns=columns).set_index('상품명')
print(df.shape)
df.head()

(200, 2)

         판매건수       가격
상품명
봉투    12362.0     50.0
바나나    4285.0   3900.0
야채     4190.0      0.0
켐벨포도   2780.0  29800.0
알뜰특란   2768.0   5300.0

In [18]:
for name in df.index:
    print(name)

봉투
바나나
야채
켐벨포도
알뜰특란
딸기
팔음산포도
봉투
애호박
청양고추
상추
오)맛있는밥기획
대파
양파(소)
강릉초당)왕콩나물
백오이
블루베리
느타리버섯
청과
무우
삼양)후레쉬기획
감자
봉지깻잎
동양축산)하루한알(특란)
바나나
백설)계란이왔어요
양배추
깨나라)오곡물티슈(캡)
오)3분쇠고기카레
팽이버섯
거봉
새송이버섯
동양축산)일품란
대림)부산어묵(얇은)
강릉초당)고소한두부(찌개용)
대추방울
사조)살코기참치기획
녹차콩나물
광동)삼다수(대)
장수)막걸리
깐마늘
매일)ESL우유
부사
청양고추
강릉초당)봉지두부
감귤
오)토마토케찹
한우양지국거리(국내산)
오)3분쇠고기짜장
깻잎
풀)소가/찌개두부
생굴
서울우유
밤고구마
빙)굿모닝우유
쌈배추
얼갈이
다진마늘
봉지사과
삼부자)광천도시락김
오징어
크라운)참크래커
그린키위
CJ)행복한콩(고소부침)
CJ)행복한콩(고소찌게)
동양축산)백세건강란(특란)
세척당근
돼지찌게
토마토
한돈삼겹살(국내산)
흙당근
남양)GT맛있는우유
봄동
롯데)제주감귤
풀)소가/부침두부
농심)신라면멀티
처음처럼
부추
대림)크라비아
숙주
참이슬후레쉬
한성)런천미트
롯데)베이컨
손수)정성가득쌀떡국
백설)햇반기획상품
동원)마일드참치
오)마일드참치
아삭이고추
삼양)갓짬뽕
켐벨포도
롯데)런천미트
특수야채류
양상추
사과
아침두부
농심)너구리얼큰멀티
섬초
풀)액티비아컵(플레인)
백설)이탈리아스파게티면
CJ)얇은사각어묵
하림닭도리탕(국내산)
한돈목살구이(국내산)
펭귄)꽁치
오리온)초코칩번들
브로컬리
광동)삼다수(소)
단호박
풀)액티비아컵(딸기)
강릉심층수팩두부
동원)스위트콘
미닛)오렌지100
허니미니꿀호떡
백설)진한참기름
동서)아몬드후레이크
칠갑)찰꼬마떡볶이
백설)찹쌀호떡믹스
롯데)비엔나기획
영양부추
청포도
깐양파
청경채
롯데)요구르트
깐대파
켈로그)콘푸로스트
신고배
온동네)광천파래도시락김
양배추
닭가슴살(국내산)
동서)맥심모카골드믹스
크린백(중）25*35
파프리카
한성)비바크부어스트
시래기
목우촌)교자만두
삼립)호빵(단팥6p)
CJ)안심종합어묵
칠성)아이시스8.0(대박스))
농심)사리곰탕멀티
칠갑)순쌀떡국
목우촌)뚝심
송학)쌀떡
대림)국물떡볶이
표고버섯
백설)맛밤패밀리팩
농심)육개장사발면
오)진짬뽕
사조)고추참치기획
감귤
사조)마일드참치기획
종가)맛김치
풀)하루에한알
농심)안성탕면멀티
해태)오예스
풀)부산순야채어묵
오)옛날사골곰탕
해)킨사이다
코카)미닛알로에
롯)엔네이처프랑크
백설)알짜란
해)오예스(딸기)
한돈등심/카레(국내산)
감귤
호박고구마
일회용종이컵1줄
백설)녹차찹쌀호떡믹스
수입대패삼겹살
미니파프리카
양파(중)
진주포차순대
삼양)갓짜장
한성)해물우동
해표)식용유
한돈오겹살(국내산)
건미역(산모용)
백설)부침가루
대림)야채김자반기획
롯)카스타드
미나리
코카콜라캔
생강
한성)미니윈너
한성)튀김우동
미닛)망고100
파프리카
꼬막
한돈불고기(국내산)
풀)국산콩나물
코카콜라PET
삼립)호빵(단팥야채)
롯데)갸또쇼콜라
황도복숭아
CJ)주부초밥왕(소풍)
온동네광천파래재래김(전장)
새송이버섯
CJ)행콩나물
바지락
해표)카놀라유
오)자른당면
롯데)알뜰소시지
한돈앞다리/불고기,찌개(국내산)

In [19]:
df.loc['청양고추']

        판매건수     가격
상품명
청양고추  1901.0    0.0
청양고추   842.0  990.0

In [23]:
sheet.range('E2').value = 10

In [24]:
sheet.range('E2').value = [10, 20, 30]

In [26]:
sheet.range('E4').options(transpose=True).value = [20, 30, 40]

In [27]:
sheet.range('E8:H12').value = 100

In [28]:
sheet.range('E8:H12').clear_contents()

In [40]:
매출 = df['판매건수'] * df['가격']

In [41]:
매출.values

array([6.18100e+05, 1.67115e+07, 0.00000e+00, 8.28440e+07, 1.46704e+07,
       0.00000e+00, 4.27878e+07, 6.11400e+04, 2.92338e+06, 0.00000e+00,
       0.00000e+00, 7.51605e+06, 5.02726e+06, 4.79950e+06, 2.98155e+06,
       2.23500e+06, 4.46404e+06, 1.93113e+06, 0.00000e+00, 2.78784e+06,
       5.10375e+06, 0.00000e+00, 1.84950e+06, 2.27920e+06, 0.00000e+00,
       4.01330e+06, 0.00000e+00, 2.03000e+06, 1.15600e+06, 1.06920e+06,
       6.98970e+06, 1.50341e+06, 3.52160e+06, 1.48350e+06, 1.42050e+06,
       7.02000e+06, 4.35100e+06, 9.07000e+05, 8.99000e+05, 8.88030e+05,
       0.00000e+00, 2.02300e+06, 8.27120e+06, 8.33580e+05, 1.23300e+06,
       0.00000e+00, 1.13970e+06, 0.00000e+00, 7.64000e+05, 7.35570e+05,
       8.15100e+05, 0.00000e+00, 1.80774e+06, 0.00000e+00, 1.40580e+06,
       1.52220e+06, 2.76120e+06, 0.00000e+00, 5.45100e+06, 3.70440e+06,
       0.00000e+00, 2.02044e+06, 2.36600e+06, 9.97520e+05, 9.91600e+05,
       2.91450e+06, 9.96000e+05, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 1.51606e+06, 0.00000e+00, 1.48520e+06, 6.94100e+05,
       2.04350e+06, 7.27200e+05, 3.31100e+06, 1.73460e+06, 0.00000e+00,
       6.99600e+05, 1.54230e+06, 2.89338e+06, 1.82700e+06, 2.65420e+06,
       1.29600e+06, 1.48720e+06, 8.41850e+05, 3.04560e+06, 0.00000e+00,
       1.78802e+06, 0.00000e+00, 2.04572e+06, 0.00000e+00, 5.05000e+05,
       1.94000e+06, 0.00000e+00, 1.14680e+06, 1.43960e+06, 7.30500e+05,
       0.00000e+00, 0.00000e+00, 1.49940e+06, 1.94340e+06, 9.14760e+05,
       2.29500e+05, 6.67520e+05, 1.04810e+06, 8.88000e+05, 6.82000e+05,
       1.29800e+06, 4.39000e+05, 2.60130e+06, 1.79280e+06, 1.30540e+06,
       1.90460e+06, 1.99500e+06, 5.40510e+05, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 4.02000e+05, 0.00000e+00, 2.86560e+06, 1.13970e+06,
       1.14460e+06, 1.74150e+06, 0.00000e+00, 9.04400e+06, 8.50500e+05,
       5.61730e+05, 1.73910e+06, 0.00000e+00, 3.03180e+06, 1.71120e+06,
       1.54700e+06, 1.44474e+06, 1.47600e+06, 1.74704e+06, 2.14084e+06,
       1.15050e+06, 8.51700e+05, 0.00000e+00, 2.57580e+06, 2.42250e+05,
       1.78640e+06, 1.50100e+06, 1.41750e+06, 1.48200e+06, 1.54440e+06,
       1.15875e+06, 1.00425e+06, 1.15900e+06, 4.27000e+05, 3.03000e+05,
       6.79500e+05, 8.99960e+05, 2.08500e+06, 1.51980e+06, 1.13240e+06,
       0.00000e+00, 8.85060e+06, 0.00000e+00, 1.91750e+05, 1.30830e+06,
       0.00000e+00, 8.61220e+05, 1.20960e+06, 8.55260e+05, 1.54980e+06,
       4.14700e+05, 1.60460e+06, 0.00000e+00, 1.06780e+06, 7.22400e+05,
       7.98000e+05, 1.27400e+06, 0.00000e+00, 2.48310e+05, 0.00000e+00,
       1.19190e+06, 3.85700e+05, 7.84700e+05, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 5.46000e+05, 6.99400e+05, 1.43000e+06, 1.02305e+06,
       0.00000e+00, 9.60000e+05, 6.50250e+05, 0.00000e+00, 4.93350e+05,
       0.00000e+00, 1.41680e+06, 1.47420e+06, 1.10880e+06, 0.00000e+00])

In [42]:
df['매출'] = 매출

In [43]:
df

                      판매건수       가격          매출
상품명
봉투                 12362.0     50.0    618100.0
바나나                 4285.0   3900.0  16711500.0
야채                  4190.0      0.0         0.0
켐벨포도                2780.0  29800.0  82844000.0
알뜰특란                2768.0   5300.0  14670400.0
...                    ...      ...         ...
바지락                  253.0      0.0         0.0
해표)카놀라유              253.0   5600.0   1416800.0
오)자른당면               252.0   5850.0   1474200.0
롯데)알뜰소시지             252.0   4400.0   1108800.0
한돈앞다리/불고기,찌개(국내산)    252.0      0.0         0.0

[200 rows x 3 columns]

In [44]:
sheet.range('D1').value = '매출'

In [45]:
sheet.range('D2').options(transpose=True).value = 매출.values

In [46]:
df.head()

         판매건수       가격          매출
상품명
봉투    12362.0     50.0    618100.0
바나나    4285.0   3900.0  16711500.0
야채     4190.0      0.0         0.0
켐벨포도   2780.0  29800.0  82844000.0
알뜰특란   2768.0   5300.0  14670400.0

In [47]:
xw.view(df, sheet)

In [48]:
workbook.save()

In [49]:
workbook.app.kill()