In [1]:
import pandas as pd
import xlwings as xw

In [10]:
df = pd.read_excel('data/top100.xlsx', index_col='id')
print(df.shape)
df.head()

(100, 4)

,album_name,artist_name,name,좋아요
id,,,,
31093710,Red Diary Page.2,볼빨간사춘기,여행,124968
31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,FAKE LOVE,200654
31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),켜줘 (Light),93035
31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,캥거루 (Kangaroo) (Prod. ZICO),79320
31113243,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 더힐,모래시계 (Prod. 헤이즈),67872

In [11]:
df['테스트컬럼'] = 10
df.head()

,album_name,artist_name,name,좋아요,테스트컬럼
id,,,,,
31093710,Red Diary Page.2,볼빨간사춘기,여행,124968,10
31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,FAKE LOVE,200654,10
31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),켜줘 (Light),93035,10
31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,캥거루 (Kangaroo) (Prod. ZICO),79320,10
31113243,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 더힐,모래시계 (Prod. 헤이즈),67872,10

In [12]:
df['테스트컬럼'] = range(1, 101, 1)
df.head()

,album_name,artist_name,name,좋아요,테스트컬럼
id,,,,,
31093710,Red Diary Page.2,볼빨간사춘기,여행,124968,1
31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,FAKE LOVE,200654,2
31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),켜줘 (Light),93035,3
31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,캥거루 (Kangaroo) (Prod. ZICO),79320,4
31113243,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 더힐,모래시계 (Prod. 헤이즈),67872,5

In [13]:
df.tail()

,album_name,artist_name,name,좋아요,테스트컬럼
id,,,,,
31123659,`The Story of Light` EP.2 - The 6th Album,SHINee (샤이니),독감 (Who Waits For Love),12730,96
30086173,LIFE IS BEAUTY FULL,문문 (MoonMoon),비행운,202347,97
30383758,종현 소품집 `이야기 Op.2`,종현 (JONGHYUN),Lonely (Feat. 태연),180606,98
30481578,마지막처럼,BLACKPINK,마지막처럼,159147,99
30380953,Illuminate (New Deluxe Ver.),Shawn Mendes,There`s Nothing Holdin` Me Back,107309,100

In [14]:
df.drop?

Signature:
df.drop(
    labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors='raise',
)
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by specifying directly index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).

    .. versionadded:: 0.21.0
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).

    .. versionadded:: 0.21.0
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If True, do operation inplace and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame
    DataFrame without the removed index or column labels.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
lama    speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      d:\work\dev\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [15]:
df.drop(31123659)

,album_name,artist_name,name,좋아요,테스트컬럼
id,,,,,
31093710,Red Diary Page.2,볼빨간사춘기,여행,124968,1
31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,FAKE LOVE,200654,2
31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),켜줘 (Light),93035,3
31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,캥거루 (Kangaroo) (Prod. ZICO),79320,4
31113243,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 더힐,모래시계 (Prod. 헤이즈),67872,5
...,...,...,...,...,...
30985406,나의 아저씨 OST Part.2,Sondia,어른,47994,95
30086173,LIFE IS BEAUTY FULL,문문 (MoonMoon),비행운,202347,97
30383758,종현 소품집 `이야기 Op.2`,종현 (JONGHYUN),Lonely (Feat. 태연),180606,98
30481578,마지막처럼,BLACKPINK,마지막처럼,159147,99
30380953,Illuminate (New Deluxe Ver.),Shawn Mendes,There`s Nothing Holdin` Me Back,107309,100

In [17]:
df.drop(31123659, inplace=True)

KeyError: '[31123659] not found in axis'

In [18]:
df

,album_name,artist_name,name,좋아요,테스트컬럼
id,,,,,
31093710,Red Diary Page.2,볼빨간사춘기,여행,124968,1
31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,FAKE LOVE,200654,2
31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),켜줘 (Light),93035,3
31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,캥거루 (Kangaroo) (Prod. ZICO),79320,4
31113243,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 더힐,모래시계 (Prod. 헤이즈),67872,5
...,...,...,...,...,...
30985406,나의 아저씨 OST Part.2,Sondia,어른,47994,95
30086173,LIFE IS BEAUTY FULL,문문 (MoonMoon),비행운,202347,97
30383758,종현 소품집 `이야기 Op.2`,종현 (JONGHYUN),Lonely (Feat. 태연),180606,98
30481578,마지막처럼,BLACKPINK,마지막처럼,159147,99
30380953,Illuminate (New Deluxe Ver.),Shawn Mendes,There`s Nothing Holdin` Me Back,107309,100

In [20]:
df.drop('name', axis=1)

,album_name,artist_name,좋아요,테스트컬럼
id,,,,
31093710,Red Diary Page.2,볼빨간사춘기,124968,1
31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,200654,2
31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),93035,3
31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,79320,4
31113243,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 더힐,67872,5
...,...,...,...,...
30985406,나의 아저씨 OST Part.2,Sondia,47994,95
30086173,LIFE IS BEAUTY FULL,문문 (MoonMoon),202347,97
30383758,종현 소품집 `이야기 Op.2`,종현 (JONGHYUN),180606,98
30481578,마지막처럼,BLACKPINK,159147,99
30380953,Illuminate (New Deluxe Ver.),Shawn Mendes,107309,100

In [21]:
df.drop(columns='name')

,album_name,artist_name,좋아요,테스트컬럼
id,,,,
31093710,Red Diary Page.2,볼빨간사춘기,124968,1
31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,200654,2
31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),93035,3
31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,79320,4
31113243,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 더힐,67872,5
...,...,...,...,...
30985406,나의 아저씨 OST Part.2,Sondia,47994,95
30086173,LIFE IS BEAUTY FULL,문문 (MoonMoon),202347,97
30383758,종현 소품집 `이야기 Op.2`,종현 (JONGHYUN),180606,98
30481578,마지막처럼,BLACKPINK,159147,99
30380953,Illuminate (New Deluxe Ver.),Shawn Mendes,107309,100

In [23]:
df1 = pd.read_excel('data/2016-01.xls', index_col='상품명')
df1

                    판매건수     가격        매출
상품명
봉투                 12362     50    618100
바나나                 4285   3900  16711500
야채                  4190      0         0
켐벨포도                2780  29800  82844000
알뜰특란                2768   5300  14670400
...                  ...    ...       ...
바지락                  253      0         0
해표)카놀라유              253   5600   1416800
오)자른당면               252   5850   1474200
롯데)알뜰소시지             252   4400   1108800
한돈앞다리/불고기,찌개(국내산)    252      0         0

[200 rows x 3 columns]

In [24]:
df2 = pd.read_excel('data/2016-02.xls', index_col='상품명')
df2

              판매건수     가격
상품명
봉투           10519     50
바나나           3123   3900
야채            2975      0
켐벨포도          2344  29800
알뜰특란          2242   5300
...            ...    ...
감귤             215  28000
청)토마토스파게티소스    215   7250
아이순            215      0
냉이             215      0
수입대패삼겹살        214      0

[200 rows x 2 columns]

In [25]:
df1 + df2

                    가격  매출    판매건수
상품명
CJ)안심종합어묵          NaN NaN     NaN
CJ)얇은사각어묵          NaN NaN     NaN
CJ)주부초밥왕(소풍)       NaN NaN     NaN
CJ)행복한콩(고소부침)   2960.0 NaN  1259.0
CJ)행복한콩(고소찌게)   2960.0 NaN  1197.0
...                ...  ..     ...
해표)카놀라유        11200.0 NaN   603.0
허니미니꿀호떡            NaN NaN     NaN
호박고구마              0.0 NaN   523.0
황도복숭아              0.0 NaN   550.0
흙당근                0.0 NaN  1300.0

[264 rows x 3 columns]

In [28]:
df3 = df1.append(df2)
print(df3.shape)
df3.head()

(400, 3)

       판매건수     가격          매출
상품명
봉투    12362     50    618100.0
바나나    4285   3900  16711500.0
야채     4190      0         0.0
켐벨포도   2780  29800  82844000.0
알뜰특란   2768   5300  14670400.0

In [30]:
df4 = pd.concat([df1, df2])
print(df4.shape)
df4.head()

(400, 3)

       판매건수     가격          매출
상품명
봉투    12362     50    618100.0
바나나    4285   3900  16711500.0
야채     4190      0         0.0
켐벨포도   2780  29800  82844000.0
알뜰특란   2768   5300  14670400.0