In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data/top100.xlsx', index_col='id')
print(df.shape)
df.head()

(100, 4)

,album_name,artist_name,name,좋아요
id,,,,
31093710,Red Diary Page.2,볼빨간사춘기,여행,124968
31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,FAKE LOVE,200654
31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),켜줘 (Light),93035
31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,캥거루 (Kangaroo) (Prod. ZICO),79320
31113243,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 더힐,모래시계 (Prod. 헤이즈),67872

In [9]:
df['name'].str[:10]

id
31093710                                     [여행]
31085237                             [FAKE, LOVE]
31113240                            [켜줘, (Light)]
31113241         [캥거루, (Kangaroo), (Prod., ZICO)]
31113243                     [모래시계, (Prod., 헤이즈)]
                            ...
31123659            [독감, (Who, Waits, For, Love)]
30086173                                    [비행운]
30383758                    [Lonely, (Feat., 태연)]
30481578                                  [마지막처럼]
30380953    [There`s, Nothing, Holdin`, Me, Back]
Name: name, Length: 100, dtype: object

In [10]:
df['name'].str.split()

id
31093710                                     [여행]
31085237                             [FAKE, LOVE]
31113240                            [켜줘, (Light)]
31113241         [캥거루, (Kangaroo), (Prod., ZICO)]
31113243                     [모래시계, (Prod., 헤이즈)]
                            ...
31123659            [독감, (Who, Waits, For, Love)]
30086173                                    [비행운]
30383758                    [Lonely, (Feat., 태연)]
30481578                                  [마지막처럼]
30380953    [There`s, Nothing, Holdin`, Me, Back]
Name: name, Length: 100, dtype: object

In [15]:
df['name'].str.split(expand=True)

                0           1        2      3      4     5     6     7
id
31093710       여행        None     None   None   None  None  None  None
31085237     FAKE        LOVE     None   None   None  None  None  None
31113240       켜줘     (Light)     None   None   None  None  None  None
31113241      캥거루  (Kangaroo)   (Prod.  ZICO)   None  None  None  None
31113243     모래시계      (Prod.     헤이즈)   None   None  None  None  None
...           ...         ...      ...    ...    ...   ...   ...   ...
31123659       독감        (Who    Waits    For  Love)  None  None  None
30086173      비행운        None     None   None   None  None  None  None
30383758   Lonely      (Feat.      태연)   None   None  None  None  None
30481578    마지막처럼        None     None   None   None  None  None  None
30380953  There`s     Nothing  Holdin`     Me   Back  None  None  None

[100 rows x 8 columns]

In [16]:
df['name'].str.split(expand=True)[[0, 1]]

                0           1
id
31093710       여행        None
31085237     FAKE        LOVE
31113240       켜줘     (Light)
31113241      캥거루  (Kangaroo)
31113243     모래시계      (Prod.
...           ...         ...
31123659       독감        (Who
30086173      비행운        None
30383758   Lonely      (Feat.
30481578    마지막처럼        None
30380953  There`s     Nothing

[100 rows x 2 columns]

In [24]:
cond = df['artist_name'].str.startswith('볼')
df[cond]

                album_name artist_name    name     좋아요
id
31093710  Red Diary Page.2      볼빨간사춘기      여행  124968
31093714  Red Diary Page.2      볼빨간사춘기  Lonely   26385

In [29]:
cond = df['name'].str.contains('사랑')
df[cond]

         album_name artist_name                    name     좋아요
id
30859584     Return        iKON  사랑을 했다 (LOVE SCENARIO)  241405

In [31]:
df['name'].str.count('사랑')

id
31093710    0
31085237    0
31113240    0
31113241    0
31113243    0
           ..
31123659    0
30086173    0
30383758    0
30481578    0
30380953    0
Name: name, Length: 100, dtype: int64

In [34]:
df['name'].str.strip()

id
31093710                                 여행
31085237                          FAKE LOVE
31113240                         켜줘 (Light)
31113241        캥거루 (Kangaroo) (Prod. ZICO)
31113243                   모래시계 (Prod. 헤이즈)
                         ...
31123659            독감 (Who Waits For Love)
30086173                                비행운
30383758                  Lonely (Feat. 태연)
30481578                              마지막처럼
30380953    There`s Nothing Holdin` Me Back
Name: name, Length: 100, dtype: object

In [35]:
df['name'].str.upper()

id
31093710                                 여행
31085237                          FAKE LOVE
31113240                         켜줘 (LIGHT)
31113241        캥거루 (KANGAROO) (PROD. ZICO)
31113243                   모래시계 (PROD. 헤이즈)
                         ...
31123659            독감 (WHO WAITS FOR LOVE)
30086173                                비행운
30383758                  LONELY (FEAT. 태연)
30481578                              마지막처럼
30380953    THERE`S NOTHING HOLDIN` ME BACK
Name: name, Length: 100, dtype: object